<tr>
  <td><%= category.id %></td>
  <td><%= category.title %></td>
  <td><%= category.created_at %></td>
  <td>
    <%= link_to edit_admin_category_path(category) do %>
      <span><i class="fa fa-edit fa-1px"></i></span>
    <% end %>
  </td>
  <td>
    <%= link_to admin_categories_path(category), method: :delete, data: {confirm: "Are you sure? You will delete all songs belongs to this category!!danger"} do %>
      <span><i class="fa fa-times fa-1px"></i></span>
    <% end %>
  </td>
</tr>
