<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav">
      <ul class="nav" id="side-menu">
        <li>
        </li>
        <li>
          <%= link_to "Users", admin_users_path %>
        </li>
        <li>
          <%= link_to "Categories", admin_categories_path %>
        </li>
        <li>
          <%= link_to "Songs", admin_songs_path %>
        </li>
        <li>
          <%= link_to "Albums", admin_albums_path %>
        </li>
        <li>
          <%= link_to "Artists", admin_artists_path %>
        </li>
        <li>
          <%= link_to "Lyrics", admin_lyrics_path %>
        </li>
      </ul>
  </div>
</div>
