<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <div id="wrapper">
      <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <%= render "admin/layouts/header" %>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2 sidebar fix-sidebar">
              <%= render "admin/layouts/sidebar" %>
            </div>
            <div class="col-md-10 sidebar fix-sidebar">
              <div class="graphs">
                <% flash.each do |message_type, message| %>
                  <div class="alert alert-<%= message_type %>">
                      <%= message %>
                  </div>
                <% end %>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
