<!DOCTYPE html>
<html>
  <head>
    <title><%= t "layouts.title" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="row container-fluid" id="container">
      <%= render "layouts/left_bar" %>
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
